* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?cs=srgb&dl=pexels-picjumbocom-196652.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
    backdrop-filter: sepia(100%);
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 6em;
    margin: 0;
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    margin: none;

}

.title h1 {
    letter-spacing: 10px;
    font-size: xx-large;
}

.title p {
    word-spacing: 5px;
}

.details {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
}

.details p {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    flex: 100px 1 0;
    margin: 0;
    padding: 5px;
}

.details p.ticket {
    flex: 100% 0 0;
    margin: 0;
}

.QR img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.included {
    display: none;
}

@media(min-width: 40em) {
    body {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, 100px);
        height: 230px;
        backdrop-filter: blur(3px);
        backdrop-filter: sepia(100%);
        background-size: cover;
        gap: 0em;
    }

    .title {
        background-color: transparent;
        border: black;
        border-width: 1px;
        border-style: solid;
        color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        padding-bottom: 148px;
        padding-top: 20px;
    }

    .title h1 {
        font-size: 5em;
        flex: 100% 0 0;
        order: 2;
        margin: 0;
    }

    .title p {
        flex: 200px 1 0;
        order: 1;
        margin: 0;
    }

    .details {
        grid-row: 2;
        gap: 0;
    }

    .details p.ticket {
        flex: 100px 1 0;
    }

    .included {
        display: grid;
        grid-row: 3;
        border: black;
        border-width: 1px;
        border-style: solid;
        max-height: 30px;
    }

    .included p {
        margin: 0;
        text-align: center;
        padding-top: 5px;
    }


    .QR {
        border: black;
        border-width: 1px;
        border-style: solid;
        grid-column: 2;
        grid-row: 1/3;
        padding-bottom: 228px;
    }

    .QR img{
        grid-column: 2;
        grid-row: 1/2;
        margin: 1em;
        max-width: 100%;
        margin: 0.5em 5em;

    }
}