* {
    box-sizing: border-box;
}

main article {
    font-weight: bold;
    text-align: center;
    padding: 1em;
    margin-bottom: 10px;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}

main article.homework {
    background-color: #E0284F;
    
}

main article.broken {
    background-color: #78FFF3;
    
}

main article.infinity {
    background-color: #FDFF00;
   
}

@media(min-width: 20em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

}


@media(min-width: 45em) {
    main {
        display: grid;
        grid-template-rows: repeat(3, 200px);
        grid-template-columns: repeat(5, 200px);
    }

    main article.broken {
        grid-column: 3;
        grid-row: 1/6;
    }

    main article.infinity {
        grid-column: 4/6;
        grid-row: 2;
    }

}